<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ng5-calendar
  </h1>
  <div>
    <span><a (click)="previousButtonClicked()">Prev</a></span>
    <span>{{this.getMonthName(index)}}{{currentYear}}</span>
    <span><a (click)="nextButtonClicked()">Next</a></span>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><tr *ngFor="let sunday of this.weekDays.sunday"> {{sunday}}</tr></td>
            <td><tr *ngFor="let monday of this.weekDays.monday">{{monday}}</tr></td>
            <td><tr *ngFor="let tuesday of this.weekDays.tuesday">{{tuesday}}</tr></td>
            <td><tr *ngFor="let wednesday of this.weekDays.wednesday">{{wednesday}}</tr></td>
            <td><tr *ngFor="let thursday of this.weekDays.thursday">{{thursday}}</tr></td>
            <td><tr *ngFor="let friday of this.weekDays.friday">{{friday}}</tr></td>
            <td><tr *ngFor="let saturday of this.weekDays.saturday">{{saturday}}</tr></td>
          </tr>
      </tbody>
    </table>
    <pre>{{this.weekDays | json}}</pre>
  </div>
</div>