<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ng5-calendar
  </h1>
  <div>
    <span><a (click)="previousButtonClicked()">Prev</a></span>
    <span>{{this.getMonthName(index)}}{{currentYear}}</span>
    <span><a (click)="nextButtonClicked()">Next</a></span>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><tr *ngFor="let sunday of this.weekDays.sunday"> <td style="border-left: 5px solid red">{{sunday}}</td></tr></td>
            <td><tr *ngFor="let monday of this.weekDays.monday"><td>{{monday}} <div>krishna jayanthi</div><div>christmas</div></td></tr></td>
            <td><tr *ngFor="let tuesday of this.weekDays.tuesday"><td>{{tuesday}}</td></tr></td>
            <td><tr *ngFor="let wednesday of this.weekDays.wednesday"><td>{{wednesday}}</td></tr></td>
            <td><tr *ngFor="let thursday of this.weekDays.thursday"><td>{{thursday}}</td></tr></td>
            <td><tr *ngFor="let friday of this.weekDays.friday"><td>{{friday}}</td></tr></td>
            <td><tr *ngFor="let saturday of this.weekDays.saturday"><td>{{saturday}}</td></tr></td>
          </tr>
      </tbody>
    </table>
    <pre>{{this.weekDays | json}}</pre>
  </div>
</div>