<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    ng5-calendar
  </h1>
  <div>
    <span><a (click)="previousButtonClicked()">Prev</a></span>
    <span>{{this.getMonthName(index)}}{{currentYear}}</span>
    <span><a (click)="nextButtonClicked()">Next</a></span>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Sunday</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
          <th>Saturday</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <ng-container *ngFor="let number of numbers">
            <td>{{number + 1}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>